@import "vars";
@import "keyframes";

* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    font-family: $font_family_main;
    font-size: $font_size_main;
    background: $background_main;
    min-height: 100vh;
    color: $font_color;
}

.header,
.main {
    padding: 0 calc(50vw - $half_width_content);

    @media screen and (max-width:1400px) {
        padding: 0 calc(50vw - calc($half_width_content - 180px));
    }

    @media screen and (max-width:1024px) {
        padding: 0 calc(50vw - 360px);
    }

    @media screen and (max-width:768px) {
        padding: 0 20px;
    }
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;

    &__title {
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 20%;
            width: 0;
            height: 2px;
            opacity: 0;
            background: linear-gradient(-45deg, #ffddff, #2d2d3b);
            transition: all 0.5s ease-in-out;
        }

        &:hover::after {
            width: 81%;
            opacity: 1;
            left: 0;
            background: linear-gradient(45deg, #ffddff, #2d2d3b);
        }
    }
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}

.circle {
    position: relative;
    height: 340px;
    background: linear-gradient(45deg, #a2bab7, #343234);

    &__inner {
        position: absolute;
        top: 10px;
        left: 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;

        background: linear-gradient(45deg, #cbdbd9, #4f494f);
        box-shadow: 0 0 3px 0px #3e3d39;

        animation: moveCircle 3.8s linear 2s infinite;

        &::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid #343438;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}

.square {
    position: relative;
    margin: 20px 0;
    height: 280px;

    &__inner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: #2f4b4b;
        overflow: hidden;

        &::after {
            content: "Beetroot";
            position: absolute;
            top: 11%;
            left: 11%;
            width: 78%;
            height: 78%;
            color: #fff;
            background: #804180;
            font-size: 1.23rem;
            letter-spacing: 1.8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            animation: scaleText cubic-bezier(0.25, 0.3, 0.25, 1.0) 1.6s infinite alternate;
            
        }

        &::before {
            content: "";
            position: absolute;
            top: -28%;
            right: -32%;
            width: 160%;
            height: 160%;
            background: conic-gradient(#ffddff,#d5a0d5, #975a97, #860f86);

            animation: rotateSquare linear 1.6s infinite;

        }
    }
}


.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
    padding-bottom: 70px;
}

.swing {
    display: flex;

     &__item {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        background: linear-gradient(#263030, #faf8f8);
        box-shadow: 0 0 3px 1px #9a929a;

        &_left {
            animation: moveBallLeft .5s ease-in-out infinite alternate;
        }
        &_right {
            animation: moveBallRight .5s ease-in-out infinite alternate;
        }
        &:hover {
            animation-play-state: paused;
        }
     }
}

.shadow {
    padding-top: 30px;
    display: flex;

    &__item {
        width: 35px;
        height: 0.35em;
        background: #6a7b7b;
        border-radius: 50%;
        filter: blur(2.4px);

        &_left {
            animation: moveShadowLeft 0.5s ease-in-out infinite alternate;
        }

        &_right {
            animation: moveShadowRight 0.5s ease-in-out infinite alternate;
        }
    }
}
